.center{
    display: flex;
    flex-direction: column;
}

.inputArea{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.inputArea input{
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
    height: 5vh;
}

.listArea{
    list-style-type: none;
    text-align: start;
}

.itemList{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

@media screen and (min-width: 2000px){
    h1 {
        font-size: 5vw;
    }
    button {
        font-size: 2vw;
    }
    * {
        font-size: 2vw;
    }
}